.container {
    font-family: "微軟正黑體";
    height: 500px;
    width: 70%;
    float: right;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    /*background: green;*/
}

.userName {
    padding-left: 10px;
    line-height: 50px;
}

.userImage {
    width: 45px;
    height: 45px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.history {
    height: calc(100% - 100px);
    overflow-y: scroll;
    width: 100%;
    /*background-image: "";*/
}

.newMsg {
    height: 50px;
    width: 100%;
    /*background: cadetblue;*/
}

.inputBox {
    /*display: inline-block;*/
    float: left;
    /*background: blue;*/
    width: 100%;
    height: 45px;
    border: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inputBox:focus {
    outline: none;
}

.sendMsgButton {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 35px;
    float: right;
    /*display: inline-block;*/
    padding: 5px;
    /*background: blue;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}

.sendMsgButton:hover {
    font-weight: bold;
}