<div class="container">
    <div class="header">
        <img class="userImage" src="src/images/angular.svg">
        <span class="userName">{{userName}}</span>
    </div>
    <div class="history">
        <div *ngFor="let msg of sharedDataService.allMessages[sharedDataService.thisRoomName]['talk']">{{msg.name}} said: {{msg.message}}</div>
    </div>
    <div class="newMsg">
        <input class="inputBox" #inputBox placeholder="key in your msg">
        <div class="sendMsgButton" (click)="sendMsg(inputBox.value);inputBox.value=''">SEND</div>
    </div>
</div>